body {
	font-family: "Helvetica", Arial, sans-serif;
}


#home {
	text-align: center;
}


#home .ui-listview, .ui-collapsible-set {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 400px;
}

#categories .ui-collapsible-set {
	max-width: 400px;
}

div[data-role="page"] {
	background-image: url('../images/woodGrainTile2.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
}
div[data-role="content"] {
	background: transparent;
}

#home img {
	width: 50%;
	max-width: 275px;
}

#videolist img {
	display: block;
	width: 90%;
}

.ui-icon-video {
	background-image: url(../images/icon_video.png);
	background-repeat: no-repeat;
}

.ui-icon-pics {
	background-image: url(../images/icon_photo.png);
	background-repeat: no-repeat;
}

ul[data-role="listview"] li,
ul[data-role="listview"] li a {
	text-align: center;
}

@media only screen and (min-width:500px) {

	#home .ui-listview {
		width: 40%;
		margin: 0;
		margin-left: 3em;
		max-width: 500px;
		display: inline-block;
	}

	#categories .ui-collapsible-set {
		max-width: 400px;
	}


	#home {
		text-align: left;
	}
	#home img {
		width: 30%;
		max-width: 225px;
		margin-left: 3em;
	}
}