body {
	font-family: "Helvetica", Arial, sans-serif;
}


#home {
	text-align: center;
}


#home .ui-listview, .ui-collapsible-set {
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 400px;
}



#categories .ui-collapsible-set {
	max-width: 400px;
}

div[data-role="page"] {
	background-image: url('../images/woodGrainTile2.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
}
div[data-role="content"] {
	background: transparent;
}

li[data-role="list-divider"] {
	font-size: 1em;
}

#home img {
	width: 80%;
	max-width: 425px;
}

#videolist img {
	display: block;
	width: 90%;
}

.ui-icon-video {
	background-image: url(../images/icon_video.png);
	background-repeat: no-repeat;
}

.ui-icon-pics {
	background-image: url(../images/icon_photo.png);
	background-repeat: no-repeat;
}

ul[data-role="listview"] li,
ul[data-role="listview"] li a {
	text-align: center;
}

.icons {
	margin: 0 auto;
	text-align: center;
	width: 300px;
}

.icons figure {
	display: none;
	width: 30%;
	margin: 0 1em;
	color: #000;
	font-weight: bold;
}

.icons figure img {
	width: 100%;
}

.icons figure.visible {
	display: inline-block;
}

.icons figure.visible.selected {
	width: 50%;
	opacity: .6;
}

/*.topIconBox figure {
	display: inline-block;
}
*/
@media only screen and (min-width:500px) and (max-height:500px) {

	#home .ui-listview {
		width: 40%;
		margin: 0;
		margin-left: 1.5em;
		max-width: 500px;
		display: inline-block;
	}

	#categories .ui-collapsible-set {
		max-width: 400px;
	}


	#home {
		text-align: left;
	}
	#home img {
		width: 50%;
		max-width: 250px;
		margin-left: 1em;
	}

	#home p {
		display: none;
	}
}