<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.christilaw.tom"
        versionCode="1" 
        version   = "1.5.0">

    <!-- versionCode is optional and Android only -->

    <icon src="icon.png" />
    
    <name>Furniture Deluxe</name>

    <description>
        An app that contains information on the care and deluxeing of various types of furniture.. 
    </description>

    <author href="https://tom.christilaw.com" email="tom@christilaw.com">
        Tom Christilaw 
    </author>

</widget>